
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h3 class="mb-4">Giriş Yap</h3>

<form method="post">
    <input type="email" name="email" class="form-control mb-2" placeholder="E-posta" required />
    <input type="password" name="password" class="form-control mb-3" placeholder="Şifre" required />
    <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>

    @if (ViewBag.LoginError != null)
    {
        <div class="alert alert-danger mt-3">@ViewBag.LoginError</div>
    }
</form>


