@using Topic.WebUI.Dtos.FAQ
@model List<ResultFAQDto>



<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Sıkça Sorulan Sorular</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionExample">
                    @foreach (var item in Model)
                    {
                        
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-@item.FaqId">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @item.Question 
                            </button>
                        </h2>

                        <div id="collapse-@item.FaqId" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @item.Answer
                            </div>
                        </div>
                    </div>
                    }

                  
                </div>
            </div>

        </div>
    </div>
</section>