﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Topic Admin Panel</title>

    <!-- base:css -->
    <link rel="stylesheet" href="~/polluxui-free-admin-template-1.0.0/template/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/polluxui-free-admin-template-1.0.0/template/vendors/css/vendor.bundle.base.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/polluxui-free-admin-template-1.0.0/template/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/polluxui-free-admin-template-1.0.0/template/images/favicon.png" />

    <style>
        .content-wrapper {
            margin-top: 70px;
        }
    </style>
    <style>
        .table-responsive {
            overflow-x: auto;
        }

        td.no-wrap {
            white-space: nowrap;
        }

        table.table {
            min-width: 1000px; /* Gerekirse tablonun minimum genişliği */
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <!-- Top Navbar -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row bg-primary text-white">
            <div class="navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo text-white" href="/Admin/Category/Index" style="font-weight:bold; font-size: 20px;">
                    Topic Admin Panel
                </a>
            </div>
        </nav>

        <!-- Sidebar -->
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Category/Index">
                            <i class="typcn typcn-th-list menu-icon"></i>
                            <span class="menu-title">Kategoriler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Blog/Index">
                            <i class="typcn typcn-news menu-icon"></i>
                            <span class="menu-title">Bloglar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/FAQ/Index">
                            <i class="typcn typcn-messages menu-icon"></i>
                            <span class="menu-title">S.S.S</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Contact/Index">
                            <i class="typcn typcn-mail menu-icon"></i>
                            <span class="menu-title">İletişim</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Manuel/Index">
                            <i class="typcn typcn-lightbulb menu-icon"></i>
                            <span class="menu-title">Nasıl Çalışır</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Subscriber/Index">
                            <i class="typcn typcn-user menu-icon"></i>
                            <span class="menu-title">Aboneler</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- Main Content -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <!-- Footer -->
                <footer class="footer">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                                    Copyright &copy; 2025 Topic Admin Panel
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/polluxui-free-admin-template-1.0.0/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/polluxui-free-admin-template-1.0.0/template/js/off-canvas.js"></script>
    <script src="~/polluxui-free-admin-template-1.0.0/template/js/hoverable-collapse.js"></script>
    <script src="~/polluxui-free-admin-template-1.0.0/template/js/template.js"></script>
</body>

</html>
