@using Topic.WebUI.Dtos.BlogDtos
@model UpdateBlogDto


@{
    ViewData["Title"] = "Bloglar";
    ViewData["SubTitle"] = "Blog Güncelleme";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="BlogId" />
    <label>Blog Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Kategori</label>
    <select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control" />
    <option>Kategori Seçiniz</option>
    </select>
    <br />
    <label>Kapak Resmi</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Blog Resim1</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Blog Resim2</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Kısa Açıklama</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Uzun Açıklama</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>