
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Keşfet! Öğren! Eğlen!</h1>

                <h6 class="text-center">İlham verenleri bir araya getiren platform</h6>

                <form method="get" action="/Blog/GetAllBlogs" class="custom-form" role="search">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1"></span>
                        <input name="keyword" type="search" class="form-control" placeholder="Sinema, Müzik, Spor..." />
                        <button type="submit" class="form-control">Ara</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



@await Component.InvokeAsync("_DefaultCategoryComponent")

@await Component.InvokeAsync("_DefaultBlogComponent")


@await Component.InvokeAsync("_DefaultManuelComponent")


@await Component.InvokeAsync("_DefaultFAQComponent")


@await Component.InvokeAsync("_DefaultContactComponent")

