@using Topic.WebUI.Dtos.CategoryDtos

@model CreateCategoryDto
@{
    ViewData["Title"] = "Kategoriler";
    ViewData["SubTitle"] = "Yeni Kategori Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" class="form-control" asp-for="CategoryName" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="Description" />
    <br />
    <label>Resim URL</label>
    <input type="text" class="form-control" asp-for="ImageUrl" />
    <br />
    <label>
        <input type="checkbox" asp-for="Status" />
        Aktif mi?
    </label>
    <br /><br />
<button class="btn btn-outline-primary">Kaydet</button>
</form>